.container {
  max-width: 420px;
  margin: 20px auto;
  background: #121212;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  position: relative;
}

.date-box {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 12px;
  color: #aaa;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.week-box {
  background: #1f1f1f;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid #333;
}

.week-box span {
  font-size: 14px;
  color: #aaa;
}

.week-box h2 {
  margin-top: 5px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

.expense-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.expense-box {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
}

.summary {
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  background: #1b1b1b;
}

.green {
  color: #00ff88;
}

.red {
  color: #ff4d4d;
}

.gold {
  color: #ffcc00;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  background: #4b0082;
  border: none;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.nav-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
