.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  background: transparent;
  border: 1px solid white;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4b0082;
  color: white;
  border: none;
  cursor: pointer;
}

.date-box {
  text-align: right;
  font-size: 12px;
  opacity: 0.7;
}
